body {
    margin: 0;
    padding: 0;
  }
  .head{
      position: relative;
      object-fit: cover;
      height: 50%;
  }
  .city {

    position: absolute;
    
    top: 12%;
    left: -1%;
    text-transform: uppercase;
    color: rgb(52, 36, 114);
    width: 350px;
    padding: 10px;
    text-align:right;
    font-family: Roboto,arial,georgia,sans-serif;
    
}
  .logo{
    position: absolute;
    width: 9vw;
    height: 4vw;
    top: 4vw;
    right: 6vw;
  
  }
  @-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
  }

 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: #ffffff;
}
section{
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: #ffffff;
  }
section:nth-child(2){
  color: #42455a;
  background: #ffffff;
} 
section:nth-child(3){
  color: #ffffff;
}
section:nth-child(4){
  color: #42455a;
  background: #ffffff;
}
section .container{
  margin: 90px;
}
section h1{
  font-size: 2rem;
  margin: 10px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #f0f1f5;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section figure{
   width: 60%; height: 60%;
  }
  section .text-container{
    flex-direction: column;
  }
 
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(37, 34, 34);
    text-align: center;
    
  }
  

  .button-86 {
    all: unset;
    width: 15vw;
    height: 2.5vw;
    font-size: 14px;
    background: transparent;
   
    position: relative;
    color: #000000;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
    border-top-right-radius: 20px;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #e29c25;
    border-top-right-radius: 20px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #dbc6c6;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top-right-radius: 20px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  
  